<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8" />
            <!-- Required meta tags -->
 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <title>flask Demo</title>
        <link rel="stylesheet" href="/static/css/style.css" />
        
        <style>
     
        </style>
    </head>
    <body>
        <div id="layout">
    demo
  
        </div>
 
    </body>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2.3.0/dist/socket.io.js"></script>
</html>